<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Toxic Comment Classification</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">
        <div class="container__item">
            <form class="form" action="{{ url_for('predict') }}" method="POST">
                <input type="text" name="comment" class="form__field" placeholder="Comment Here...!" />
                <button type="submit" name="submit" class="btn btn--primary btn--inside uppercase">Predict</button>
            </form>
            {{ prediction }}
        </div>
    </div>
</body>

</html>